<% provide(:title, @user.name) %>
<div class="row">

</div>
<div class="course-show">
  <h1>Coordinator : <%= @user.name %></h1>

</div>
<div class="row">
    <div class="col-md-12" style="padding: 20px;">

        <%= gravatar_for_c @user %>


  </div>
  </div>
<div class="row">
   <% @courses.each do |course| %>
      <div class="row course-blockall" >

        <div class="col-md-8 col-md-offset-2 course-block">
        <h4><%= link_to course.name, course %></h4>
        <p>Prerequisite : <%= course.prerequisite %></p>

        <p>Created <%= course.created_at%></p>


        <td><%#= link_to 'Edit', edit_course_path(course) %></td>
        <td><%#= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    <% end %>
</div>