<% provide(:title, "Edit Course") %>
<h1>Edit Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new-course">
    <%= form_for(@course) do |f| %>

<%= f.label 'Course Name' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label 'Prerequisite' %>
      <%= f.text_field :prerequisite, class: 'form-control' %>

      <%= f.label 'Description' %>
      <%= f.text_area(:description, size: '50x10', class: 'form-control') %>

      <%= f.label :Categories %><br />

      <%= f.fields_for @course.locations do |form| %>
       <%#= form.label :account_number %><br>
      <% end %>

      <% (Category.all).each do |category| %>

      <div class="categories">
      <%= f.radio_button :category_id , category.id %><%=category.name%><br />
      </div>

      <% end %>

      <br />
      <%= f.label 'Location' %>

       <%= f.collection_check_boxes :location_ids, Location.all, :id, :locationname do |location| %>
        <div class="locations">
        <%= location.check_box %>
        <%= location.label %>

        </div>
       <% end %>

      <br />

      <%= f.submit "Update my course", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="row" style="padding: 18px;">
<%= link_to 'Back to the Course', @course,class:"btn btn-success" %>
<a class="btn btn-primary" href="<%= courses_path %>" role="button">Return to Course List</a>
</div>