<% provide(:title, "Edit Course") %>
<h1>Edit Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new-course">
    <%= form_for('', url: updatecourse_path) do |f| %>


      <%= f.label 'Course Name' %>
      <%= f.text_field :name,:value=>@course.name, class: 'form-control' %>

      <%= f.label 'Prerequisite' %>
      <%= f.text_field :prerequisite,:value=>@course.prerequisite, class: 'form-control' %>

      <%= f.label 'Description' %>
      <%= f.text_area(:description,:value=>@course.description, size: '50x10', class: 'form-control') %>

      <%= f.label 'Category' %>
      <%= f.fields_for  @course.category do |form| %>

        <%#= form.radio_button :name,  @course.category.name %> <%#=@course.category.name%><br />
          <% (Category.all).each do |a| %>
          <div class="categories">
          <%= form.radio_button :name, a.name ,:checked=>(@course.category.name.eql? a.name) %> <%=a.name%><br />
          </div>
        <% end %>
      <% end %>

      <br />
      <%= f.label 'Location' %>
      <% (Location.all).each do |loc| %>

      <div class="locations">
      <%= f.radio_button :locationname, loc.locationname,:checked=>true %> <%=loc.locationname%><br />
      </div>


      <% end %>

      <br />
      <span class="picture">
        <%= f.file_field :picture,:value => @course.picture.url if @course.picture? %>
      </span>
      <%#= f.label 'Location' %>
      <%#= f.text_field :locationname, class: 'form-control' %>





      <%= f.submit "Update my course", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
<div class="row" style="padding: 18px;">
<%= link_to 'Back to the Course', @course,class:"btn btn-success" %>
<a class="btn btn-primary" href="<%= courses_path %>" role="button">Return to Course List</a>
</div>