<% provide(:title, "Browse") %>

 <h1> </h1>



<div class="container">

    <ul class="nav nav-tabs" style="line-height: 2.0;">
    <li class="active"><a data-toggle="tab" href="#courses">Courses</a></li>
    <li><a data-toggle="tab" href="#coordinators">Coordinators</a></li>
  </ul>

  <div class="tab-content">
    <div id="courses" class="tab-pane fade in active">
          <% @courses.each do |course| %>
      <div class="row course-block" style="margin:18px 0px 18px 0px;padding:18px 0px 18px 0px;border-bottom: 1px solid lightgrey;">
        <div class="col-md-2">

          <div><%= gravatar_for_c course.user %></div>
          <h5 style="text-align: center;">Coordinator Name : <%= link_to course.user.name, course.user %></h5>

        </div>
        <div class="col-md-6" style="background:lightgrey;padding:10px 10px 10px 20px;">
        <h4><%= link_to course.name, course %></h4>
        <p>Prerequisite : <%= course.prerequisite %></p>
        <p>Category : <%= course.category.name %></p>
        <p>Location : <%= course.location %></p>
        <p>Created <%= course.created_at%></p>


        <td><%#= link_to 'Edit', edit_course_path(course) %></td>
        <td><%#= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </div>
      </div>
    <% end %>

    </div>
    <div id="coordinators" class="tab-pane fade">

     <% @users.each do |user| %>
     <div class="row course-block" style="margin:18px 0px 18px 0px;padding:18px 0px 18px 0px;border-bottom: 1px solid lightgrey;">
        <div class="col-md-12 col-centered">

          <div><%= gravatar_for_c user %></div>
          <h5 style="text-align: center;">Coordinator Name : <%= link_to user.name, user %></h5>

        </div>
      </div>
      <% end %>
    </div>

  </div>























</div>




<%#= link_to 'New Course', new_course_path %>
