<% provide(:title, "Browse") %>

 <h1> </h1>



<div class="container">

    <ul class="nav nav-tabs" style="line-height: 2.0;">
    <li class="active"><a data-toggle="tab" href="#courses">Courses</a></li>
    <li><a data-toggle="tab" href="#coordinators">Coordinators</a></li>
  </ul>

  <div class="tab-content">
    <div id="courses" class="tab-pane fade in active">
      <% @courses.each do |course| %>
      <div class="row course-blockall" >
        <div class="col-md-2">

          <div><%= gravatar_for_c course.user %></div>
          <h5 style="text-align: center;">Coordinator Name : <%= link_to course.user.name, course.user %></h5>

        </div>
        <div class="col-md-6 course-block" >
        <h4><%= link_to course.name, course %></h4>
        <p>Prerequisite : <%= course.prerequisite %></p>
        <p>Category : <%= link_to course.category.name, courses_path(:name=>course.category.name) %> </p>
        <p>Location :
        <% course.locations.each do |location|  %>
            <%= link_to location.locationname, courses_path(:locationname=>location.locationname) %>
        <% end %>

        <p>Created <%= course.created_at%></p>
        <div >
        <div class="col-md-3">

        <% if  Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(-1) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-default' %>
          <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(1) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: 0 %>
              <%= f.submit 'Upvote', class: 'btn btn-success' %>
          <% end %>

         <% elsif Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(0) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-default' %>
          <% end %>


        <% else %>

          <%= form_for course.votes.build, url: course_vote_index_path(course) do |f| %>
              <%#= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :votetype, value: 1 %>
              <%= f.submit 'Upvote', class: 'btn btn-default' %>
          <% end %>

        <% end %>
        </div>
        <div class="col-md-6" style="background: #f4f4f4;">
          <h4 style="margin:8px;text-align: center;">Course Rating : <%= Vote.where(:course_id => course.id ).sum(:votetype) %> </h4>

        </div>
        <div class="col-md-3">
        <% if  Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(1) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-default' %>
          <% end %>

        <% elsif Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(-1) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: 0 %>
              <%= f.submit 'Downvote', class: 'btn btn-danger' %>
          <% end %>

         <% elsif Vote.exists?(user: current_user, course: course) && course.votes.find_by(:user_id=>current_user.id).votetype.equal?(0) %>

          <%= form_for course.votes.build, url: course_vote_path(course,course.votes.find_by(:user_id=>current_user.id).id), method: :patch do |f| %>
              <%= f.hidden_field :votetype, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-default' %>
          <% end %>


        <% else %>

          <%= form_for course.votes.build, url: course_vote_index_path(course) do |f| %>
              <%#= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :votetype, value: -1 %>
              <%= f.submit 'Downvote', class: 'btn btn-default' %>
          <% end %>

        <% end %>


        </div>
         </div>

        </div>
      </div>
    <% end %>

    </div>
    <div id="coordinators" class="tab-pane fade">

     <% @users.each do |user| %>
     <div class="row course-blockall" >
        <div class="col-md-12 col-centered">

          <div><%= gravatar_for_c user %></div>
          <h5 style="text-align: center;">Coordinator Name : <%= link_to user.name, user %></h5>

        </div>
      </div>
      <% end %>
    </div>

  </div>























</div>




<%#= link_to 'New Course', new_course_path %>
