<% provide(:title, "New Course") %>
<h1>New Course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 new-course">
    <%= form_for('', url: createcourse_path) do |f| %>
      <%= render 'shared/courseerror_messages' %>

      <%= f.label 'Course Name' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label 'Prerequisite' %>
      <%= f.text_field :prerequisite, class: 'form-control' %>

      <%= f.label 'Description' %>
      <%= f.text_area(:description, size: '50x10', class: 'form-control') %>

      <%#= f.label 'Category' %>
      <%#= f.text_field :catname, class: 'form-control' %>


      <%= f.label :Categories %><br />

      <% (Category.all).each do |cat| %>

      <div class="categories">
      <%= f.radio_button :catname, cat.name %> <%=cat.name%><br />
      </div>


      <% end %>

      <br />
      <%= f.label 'Location' %>
      <% (Location.all).each do |loc| %>

      <div class="locations">
      <%= f.radio_button :locationname, loc.locationname %> <%=loc.locationname%><br />
      </div>


      <% end %>

      <br />
      <span class="picture">
        <%= f.file_field :picture %>
      </span>
      <%#= f.label 'Location' %>
      <%#= f.text_field :locationname, class: 'form-control' %>





      <%= f.submit "Create my course", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%#= render 'form', course: @course %>

<%#= link_to 'Back', courses_path %>
