<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Prerequisite:</strong>
  <%= @course.prerequisite %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category %>
</p>

<p>
<strong>Description:</strong>
  <%= @course.description %>
</p>
<%= image_tag @course.picture.url if @course.picture? %>
<%#= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
