<p id="notice"><%= notice %></p>

<div class="course-show">
  <h1><%= @course.name %></h1>
</div>
<p style="margin-top:25px;">
  <strong>Prerequisite:
  <%= @course.prerequisite %>
  </strong>
</p>
<div class="row course-blockall" style="padding-top:0px;" >
  <div class="col-md-8 course-block" >
    <p>
    <strong>Category:</strong>
    <%= link_to  @course.category.name, courses_path(:name=> @course.category.name) %>
  </p>
  <p>
    <strong>Location:</strong>
    <% @course.locations.each do |location|  %>
    <%= link_to location.locationname, courses_path(:locationname=>location.locationname) %>
    <% end %>
  </p>
  <p>
  <strong> Course Description:</strong>
  </br>


  <%= @course.description %>
 </p>

  </div>
  <div class="col-md-4">
  <div><%= gravatar_for_c @course.user %></div>
  <h5 style="text-align: center;">Brought to you by : <%= link_to @course.user.name, @course.user %></h5>

  </div>
</div>


<%#= image_tag @course.picture.url if @course.picture? %>
<% if logged_in? %>
  <% if current_user.name == @course.user.name  %>
<a class="btn btn-success" href="<%= edit_course_path(@course) %>" role="button">Edit this Course</a>
  <% end %>
<% end %>
<a class="btn btn-primary" href="<%= courses_path %>" role="button">Return to Course List</a>


