<footer class="footer">
<div class="row" style="padding-left:20px;padding-top:20px;padding-bottom:20px;">
<div class=col-md-3 style="padding-top: 10px;">
<%= link_to 'Contact Us', contact_path ,class:"h4" %>
</br></br>
<p>Tel: 0123456789</p>
<p>Fax: 0123456789</p>
<p>exmaple@rmit.edu.au</p>
</div>
<div class=col-md-3>
<h4>General Inquiries</h4>
<a>Andy Song</a></br>
<a>Juliang Jiang</a></br>
<a>Ali</a></br>
</div>
<div class=col-md-3>
<h4>Useful Links</h4>
<a>RMIT Course</a></br>
<a>RMIT Help Desk</a></br>
<a>RMIT International</a></br>
</div>
<div class=col-md-3>
<h4>Media</h4>
<div class="hover_img">
     <a href="#">Youtube<span><%= image_tag("youtube.png",size: "120x80")%></span></a>
</div>
<div class="hover_img">
     <a href="#">Facebook<span><%= image_tag("fb.png",size: "70x70")%></span></a>
</div>
<div class="hover_img">
     <a href="#">LinkedIn<span><%= image_tag("link.png",size: "70x70")%></span></a>
</div>
<div class="hover_img">
     <a href="#">Instagram<span><%= image_tag("insta.png",size: "80x80")%></span></a>
</div>
<div class="hover_img">
     <a href="#">Twitter<span><%= image_tag("twitter.png",size: "80x80")%></span></a>
</div>


</div>
</footer>
